.footer {
    display: inline-flex;
    width: 100%;
    padding: 2% 0;
    border-top: 1px solid #dddddd;
    justify-content: center;
    background-color: #fff;
    flex-wrap: wrap;
}

.copy-righting {
    align-self: center;
    font-size: 16px;
    color: #6a91c0ad;
    text-transform: capitalize;
}