@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Raleway:400');

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
}

.page {
    width: 75%;
    display: inline-flex;
    flex-direction: column;
    background-color: rgba(252, 251, 251, 0.76);
}


