@import url('https://fonts.googleapis.com/css?family=Raleway:400');

.create-task {
    padding-top: 2%;
    width: 92%;
    padding-left: 3%;
}

.create-task__title {
    display: inherit;
    font-family: 'Raleway', sans-serif;
    font-size: 23px;
    color: #6a91b8;
    font-weight: bold;
    align-self: center;
    text-transform: capitalize;
    letter-spacing: 1px;
    width: 13%;
}

.create-task__title i {
    padding-left: 1%;
    text-align: center;
}

.create-task__title:hover {
    cursor: pointer;
    color: #81add5;
}

.create-task__settings {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 2% 0;
    flex-wrap: wrap;
}

.input-group {
    width: 33.333%;
    padding-bottom: 2%;
    flex-direction: row;
    display: inline-flex;
    justify-content: space-evenly;
}

.input-group label {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    color: #999999;
}

.input-group input {
    padding: 1% 3%;
    border-radius: 50px;
    border: 2px solid #6a91b8;
    color: #999999;
    font-family: 'Raleway', sans-serif;
}

.drop-down-statuses, .drop-down-priority {
    width: 46%;
    position: relative;
}

.drop-down-statuses__selected-status, .drop-down-priority__selected-priority {
    padding: 2% 6%;
    font-size: 14px;
    background-color: #fff;
    border: 2px solid #6a91b8;
    border-radius: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    color: #999999;
    font-family: 'Raleway', sans-serif;
    width: 76%;
}

.drop-down-statuses__selected-status:hover, .drop-down-priority__selected-priority:hover {
    cursor: pointer;
}

.drop-down-statuses__select-status, .drop-down-priority__select-priority {
    display: flex;
    position: absolute;
    width: 91%;
}

.statuses, .priorities {
    list-style: none;
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 2%;
}

.statuses__status, .priorities__priority {
    padding: 2% 16%;
    background-color: #a6d2ff;
    margin-bottom: 2%;
    display: inline-flex;
    border-radius: 48px;
    color: #fbfbfb;
    font-family: 'Raleway', sans-serif;
}

.statuses__status:hover, .priorities__priority:hover {
    cursor: pointer;
    background-color: #8db6e2;
}

.register-task {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-top: 2%;
}

.register-task__button {
    padding: 1% 4%;
    border-radius: 50px;
    border: none;
    background-color: #dab944;
    color: #fbfbfb;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    margin-right: 4%;
}

.register-task__button:hover {
    cursor: pointer;
    background-color: #daaa44;
    color: #fffefe;
}
.register-sub-task__button{
     padding: 1% 4%;
     border-radius: 50px;
     border: none;
     background-color: #dab944;
     color: #fbfbfb;
     font-family: 'Raleway', sans-serif;
     font-size: 16px;
     margin-right: 4%;
 }
.register-sub-task__button:hover {
      cursor: pointer;
      background-color: #daaa44;
      color: #fffefe;
  }